@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.bandejaDeSalida";
}
<div>    
    <script type="text/ng-template" id="bandejaDeSalida/solicitadas">
        @RenderPage(Url.Content("~/Views/BandejaDeSalida/Solicitadas.cshtml"))
    </script>    
    <script type="text/ng-template" id="bandejaDeSalida/confirmacionArribo">
        @RenderPage(Url.Content("~/Views/BandejaDeSalida/ConfirmacionArribo.cshtml"))
    </script> 
    <script type="text/ng-template" id="bandejaDeSalida/trasladosRechazados">
        @RenderPage(Url.Content("~/Views/BandejaDeSalida/TrasladosRechazados.cshtml"))
    </script>       
    <div ng-view></div>
</div>

@section scripts{    
    @Html.IncludeVersionedJs("../Scripts/app/BandejaDeSalida/bandejaDeSalidaModule.js")
    @Html.IncludeVersionedJs("../Scripts/app/BandejaDeSalida/solicitadasCtrl.js")    
    @Html.IncludeVersionedJs("../Scripts/app/BandejaDeSalida/confirmacionArriboCtrl.js")    
    @Html.IncludeVersionedJs("../Scripts/app/BandejaDeSalida/trasladosRechazadosCtrl.js")    
    @Html.IncludeVersionedJs("../Scripts/app/shared/bandejaDeSalidaService.js")    
    @Html.IncludeVersionedJs("../Scripts/app/shared/directives/compileDirective.js")    
    @Html.IncludeVersionedJs("../Scripts/app/shared/solicitudesServices.js")
    @Html.IncludeVersionedJs("../Scripts/app/shared/establecimientosService.js")
}