@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.lotes";
}
<div>    
    <script type="text/ng-template" id="lotes/list">
        @RenderPage(Url.Content("~/Views/Lotes/List.cshtml"))
    </script>
    <script type="text/ng-template" id="lotes/edit">
        @RenderPage(Url.Content("~/Views/Lotes/Edit.cshtml"))
    </script>
    <div ng-view></div>
</div>

@section scripts{
    @Html.IncludeVersionedJs("Scripts/app/Lotes/lotesModule.js")
    @Html.IncludeVersionedJs("Scripts/app/Lotes/lotesListCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/Lotes/lotesEditCtrl.js")        
    @Html.IncludeVersionedJs("Scripts/app/shared/lotesService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/establecimientosService.js")    
    @Html.IncludeVersionedJs("Scripts/jquery.ui.widget.js")
    @Html.IncludeVersionedJs("Scripts/jquery.iframe-transport.js")
    @Html.IncludeVersionedJs("Scripts/jquery.fileupload.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/singleFileService.js")
}