@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.cartasDePorte";
}
<div>    
    <script type="text/ng-template" id="cartasDePorte/list">
        @RenderPage(Url.Content("~/Views/CartasDePorte/List.cshtml"))
    </script>
    <script type="text/ng-template" id="cartasDePorte/edit">
        @RenderPage(Url.Content("~/Views/CartasDePorte/Edit.cshtml"))
    </script>
    <div ng-view></div>
</div>

@section scripts{
    @Html.IncludeVersionedJs("Scripts/app/CartasDePorte/cartasDePorteModule.js")
    @Html.IncludeVersionedJs("Scripts/app/CartasDePorte/cartasDePorteListCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/CartasDePorte/cartasDePorteEditCtrl.js")        
    @Html.IncludeVersionedJs("Scripts/app/shared/cartasDePorteService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/establecimientosService.js")    
    @Html.IncludeVersionedJs("Scripts/jquery.ui.widget.js")
    @Html.IncludeVersionedJs("Scripts/jquery.iframe-transport.js")
    @Html.IncludeVersionedJs("Scripts/jquery.fileupload.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/singleFileService.js")
}