@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.solicitudes";
}
<div>       
    <script type="text/ng-template" id="solicitudes/edit">
        @RenderPage(Url.Content("~/Views/Solicitudes/Edit.cshtml"))
    </script>
    <div ng-view></div>
</div>

@section scripts{
    @Html.IncludeVersionedJs("Scripts/app/Solicitudes/solicitudesModule.js")    
    @Html.IncludeVersionedJs("Scripts/app/Solicitudes/solicitudesEditCtrl.js")        
    @Html.IncludeVersionedJs("Scripts/app/shared/solicitudesServices.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/establecimientosService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/generalService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/choferesService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/empresasService.js")
}