@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.reportes";
}
<div>    
    <script type="text/ng-template" id="reportes/export">
        @RenderPage(Url.Content("~/Views/Reportes/Export.cshtml"))
    </script>
    <script type="text/ng-template" id="reportes/emitidasRecibidas">
        @RenderPage(Url.Content("~/Views/Reportes/EmitidasRecibidas.cshtml"))
    </script>   
    <script type="text/ng-template" id="reportes/actividad">
        @RenderPage(Url.Content("~/Views/Reportes/Actividad.cshtml"))
    </script>    
    <div ng-view></div>
</div>

@section scripts{
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    @Html.IncludeVersionedJs("Scripts/app/Reportes/reportesModule.js")
    @Html.IncludeVersionedJs("Scripts/app/Reportes/exportCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/Reportes/actividadCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/Reportes/emitidasRecibidasCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/Reportes/reportesNavigationService.js")        
    @Html.IncludeVersionedJs("Scripts/app/shared/reportesService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/generalService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/choferesService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/establecimientosService.js")
}