@using Cresud.CDP.Infrastructure
@{
    ViewBag.ngApp = "cresud.cdp.reservas";
}
<div>    
    <script type="text/ng-template" id="reservas/list">
        @RenderPage(Url.Content("~/Views/Reservas/List.cshtml"))
    </script>
    <script type="text/ng-template" id="reservas/edit">
        @RenderPage(Url.Content("~/Views/Reservas/Edit.cshtml"))
    </script>
    <div ng-view></div>
</div>

@section scripts{
    @Html.IncludeVersionedJs("Scripts/app/Reservas/reservasModule.js")
    @Html.IncludeVersionedJs("Scripts/app/Reservas/reservasListCtrl.js")
    @Html.IncludeVersionedJs("Scripts/app/Reservas/reservasEditCtrl.js")        
    @Html.IncludeVersionedJs("Scripts/app/shared/reservasService.js")
    @Html.IncludeVersionedJs("Scripts/app/shared/establecimientosService.js")    
}